<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/about.css">
    <title>Node App</title>
</head>

<body class="bg-dark">
    <header id="main-header" class="header-container">
        <nav id="navbar" class="navbar navbar-dark navbar-expand-lg">
            <div class="container-fluid">
                <a href="/home" class="navbar-brand">
                    <span class="brand-b">Article</span> Store
                </a>
                <button type="button" id="btn-menu" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-hidden="false">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu-collapse">
                    <ul class="nav navbar-nav ml-lg-5">
                        <li class="nav-item">
                            <a href="/home" class="nav-link">
                                <span class="sr-only">(current)</span> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/article/add" class="nav-link">
                            Add article
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/article" class="nav-link">Articles
                            </a>
                        </li>
                        <li class="nav-item active active-nav">
                            <a href="/about" class="nav-link">
                            About
                        </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#!" class="nav-link">
                            Signup
                        </a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">
                            Login
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="section-jumbotron" class="jumbotron jumbotron-2 text-left bg-dark text-light">
            <div class="container mt-3">
                <h1 class="display-6 text-light text-capitalize">
                    <%= message %>
                </h1>
                <hr>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, iusto? Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, ut!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas atque deserunt voluptas ex officia aspernatur totam accusamus iusto aliquam exercitationem impedit libero odit fuga tempore nulla rerum in, vitae error. Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Et possimus tempore soluta cum porro similique dolore, blanditiis minus deserunt earum?</p>
                <hr class="text-light">
                <p class="lead text-center">Article Store &copy; By Rooney in 2018 </p>
            </div>
        </section>
    </header>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/scripts/main.js"></script>
</body>

</html>