<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/login.css">
    <title>Node App</title>
</head>

<body class="bg-dark">
    <header id="main-header" class="header-container">
        <nav id="navbar" class="navbar navbar-dark navbar-expand-lg">
            <div class="container-fluid">
                <a href="/home" class="navbar-brand">
                    <span class="brand-b">Article</span> Store
                </a>
                <button type="button" id="btn-menu" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-hidden="false">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu-collapse">
                    <ul class="nav navbar-nav ml-lg-5">
                        <li class="nav-item">
                            <a href="/home" class="nav-link">
                                <span class="sr-only">(current)</span> Home
                            </a>
                        </li>
                        <% if (user) {%>
                            <li class="nav-item">
                                <a href="/article/add" class="nav-link">
                                    Add article
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/article" class="nav-link">Articles
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/about" class="nav-link">
                                    About
                                </a>
                            </li>
                            <%}%>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <% if (user) {%>
                            <li class="nav-item">
                                <a href="/user/logout" class="nav-link">
                                    Logout
                                </a>
                            </li>
                            <%} else {%>
                                <li class="nav-item">
                                    <a href="/user/signup" class="nav-link">
                                    Signup
                                </a>
                                </li>
                                <li class="nav-item active active-nav">
                                    <a href="/user/login" class="nav-link">
                                    Login
                                </a>
                                </li>
                            <%}%>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="section-jumbotron" class="jumbotron text-left bg-dark text-light">
            <div class="container mt-5">
                <h1 class="display-5 text-light text-capitalize">
                    <%= title %>
                </h1><br><br>
                    <section>
                        <div class="container">
                            <%- messages('message', locals) %>
                            <form id="user-login" action="/user/login" , method="POST">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input id="username" name="username" type="text" class="form-control" placeholder="Enter username">
                                    <div class="text-right">
                                        <small class="text-danger" id="username-validate"></small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" name="password" type="password" class="form-control" placeholder="Enter password">
                                    <div class="text-right">
                                        <small class="text-danger" id="password-validate"></small>
                                    </div>
                                </div>
                                <button id="btn-login" type="submit" class="btn btn-success">LOGIN</button>
                                <div class="text-right">
                                    <strong class="text-success" id="form-validate"></strong>
                                </div>
                            </form>
                        </div>
                    </section>
            </div>
        </section>
    </header>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/script.js"></script>

</body>

</html>