<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/server_error.css">
    <title>Node App</title>
</head>

<body>
    <header id="main-header" class="header-container">
        <section id="section-jumbotron" class="jumbotron jumbotron-2 text-left bg-dark text-light">
            <div class="container mt-3">
                <h1 class="display-6 text-danger text-capitalize">
                    <%= message %>
                </h1>
                <br>
                <hr>
                <p class="text-danger">
                    <%= error %>
                </p>
            </div>
        </section>
    </header>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/scripts/main.js"></script>
</body>

</html>